GITHUB_TOKEN=YOUR_GITHUB_TOKEN

ELASTIC_HOST=YOUR_ELASTIC_HOST
ELASTIC_USERNAME=ELASTIC_USERNAME
ELASTIC_PASSWORD=ELASTIC_PASSWORD

ELASTIC_INDEX=INDEXNAME

FASTAPI_HOST=HOST_IP
FASTAPI_PORT=HOST_PORT

PYTHONUNBUFFERED=1

BATCH_SIZE=BATCH_SIZE
THREAD_POOL_SIZE=THREAD_POOL_SIZE