GITHUB_TOKEN=""
GITHUB_TIMEOUT=30
GITHUB_MAX_RETRIES=5
GITHUB_DELAY=2

OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200

OPENSEARCH_INDEX=vulnerabilities

FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000

PYTHONUNBUFFERED=1

BATCH_SIZE=500
THREAD_POOL_SIZE=10

INITIAL_LOAD_LIMIT=0

ENRICHMENT_LIMIT=100
ENRICHMENT_INTERVAL=300

NVD_API_KEY=""
NVD_TIMEOUT=60
NVD_MAX_RETRIES=5
NVD_DELAY=1




