
exploitdb.csv
sync_metadata.json
\database
# \vulnerabilities

# \sync
# \database\vulnerabilities


# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Local Database
database/

# Elastic Certificates
*.crt
*.p12

# VS Code
.vscode/

# Logs
logs/
*.log